body {
  font-family: 'Arial', sans-serif;
  background-color: #FFC2CE;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

.ingredients-list {
  list-style: square;
}

ol {
  list-style: circle;
}

header > img {
  width: 100px;
}

ul > li > a {
  text-decoration: none;
}

.user_review {
  color: blue;
}
